       *{ 
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}
		header{
			width: 100%;
			height: 100vh;
		}
		.box{
          background: url("Group 16.png");
			background-size: 80rem;
			background-position: right;
			background-repeat: no-repeat;
		}
		footer{
			height: 100vh;
			width: 100%;
			background-image: url("Group 17.png");
			background-position: left;
			background-size: cover;
			background-repeat: repeat-x;
		}
		div{
			border: 0px solid red;
			padding: 1rem;
		}
		nav div:nth-child(2){
			width: 60%;
		}
		nav div:first-child{
			width: 20%;
		}
		nav div:last-child{
			width: 20%;
		}
		nav{
			border: 0px solid yellowgreen;
			display: flex;
			width: 100%;
		}
		li{
			text-transform: capitalize;
			list-style: none;
			font-size: 1.3rem;
			color: white;
		}
		ul{
			font-family: 'Oswald', sans-serif;
			display: flex;
		    justify-content: flex-end;
		    justify-content: space-around;
		    align-items: center;
		    line-height: 3rem;
		}
		main{
			display: flex;
		}
		main div{
			height: 35rem;
		}
		main div:first-child{
			width: 40%;
			padding: 2rem;
		}
		main div:last-child{
			width: 60%;
		}
		h1{
			margin-top: 5rem;
			font-size: 3.5rem;
			font-family: 'Roboto', sans-serif;
		}
		h3{
			font-family: 'Oswald', sans-serif;
           color:  #b84dff;
          font-size: 1.5rem;
		}
		.align{
			height: 42rem;
			display: flex;
		}
		.align div:first-child{
			width: 60%;
		}
		.align div:last-child{
			width: 40%;
		}
		h2{
			margin-top: 5rem;
			font-size: 2.3rem;
			color:#0000cc;
		}
		.para{
			margin-top: 2rem;
		}
		footer div{
			height: 50vh;
			border: 0px solid red;
		}